[access "refs/*"]
	owner = group CI_Infrastructure_ENM_admin
	read = deny group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = deny group Replication_USSJ_ECN_DO_NOT_REMOVE
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	create = group CI_Infrastructure_ENM_admin
	forgeCommitter = group CI_Infrastructure_ENM_admin
	push = +force group CI_Infrastructure_ENM_admin
	label-Code-Review = -2..+2 group CI_Infrastructure_ENM_admin
	label-Verified = -1..+1 group CI_Infrastructure_ENM_admin
	rebase = group CI_Infrastructure_ENM_admin
	submit = group CI_Infrastructure_ENM_admin
	label-Vertical-Slice = -1..+1 group CI_Infrastructure_ENM_admin
	createTag = group CI_Infrastructure_ENM_admin
	label-BAT-Test = -1..+1 group CI_Infrastructure_ENM_admin
[project]
	description = ENM Parent project specifically for projects using code review but should be used for all ENM projects.
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
[access "^refs/changes/master*"]
	push = group CI_Infrastructure_ENM_admin
[access "^refs/for/d.*"]
	create = group Registered Users
	push = +force group Registered Users
	pushMerge = group Registered Users
	createTag = group Registered Users
[access "^refs/for/refs/heads/d.*"]
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/maintenance.*"]
	create = group Registered Users
	push = group Registered Users
	label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group Registered Users
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = group ERICbackuprestoreservice_Guard
	push = +force group Registered Users
	pushMerge = group Registered Users
[access "^refs/heads/maintenance.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access]
	inheritFrom = OSS/OSS-Parent
[access "^refs/for/refs/heads/master.*"]
	create = group Registered Users
	push = group Registered Users
[access "^refs/heads/b.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/tags/b.*"]
	create = group Registered Users
	push = group Registered Users
	createTag = group Registered Users
[label "Vertical-Slice"]
    	function = NoBlock
   	value = -1 VS Job Failed
   	value =  0 No Results
   	value = +1 VS Job Passed
    	defaultValue = 0
[access "^refs/for/refs/heads/point_fix.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group cENM_Guard
[plugin "eiffel"]
	enabled = false
